

{% extends "base.html" %}

{% block content %}

<style>
  body {
    background-image: linear-gradient(to right, #FFFFFF,#302d2d);
    
    
  }
  #deneme {
    width: 500px;
    height: 250px;
    background-color: rgb(156, 138, 138);
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

</style>
  <div class="container" id="deneme">
    <h1>E-commerce Website</h1>
    <p>This web site is made to learn both django and python well.</p>
  </div>  


{% endblock %}



