{% extends "base.html" %}

{% block content %}

<style>
  .carousel{
      width: 950px;
      height: 400px;
      margin-left:25%;
  }

  
 
  
</style>

<div id="carouselExample" class="carousel slide" >
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://previews.123rf.com/images/vadish/vadish1710/vadish171000058/87536826-super-sale-20-percent-discount-poster-and-flyer-template-for-design-poster-flyer-and-banner-on.jpg" style="height: 500px;width: 700px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://edit.org/img/blog/ut9-sale-sign-template-customize-online.jpg" style="height: 500px;width: 700px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/id/1176999930/vector/biggest-sale-banner-or-poster-design-with-40-80-discount-offer-and-geometric-elements.jpg?s=1024x1024&w=is&k=20&c=rBaA9UIdVMi2GWwSADZinOMQRdMoE4ITSUbbt5YZPuw=" style="height: 500px;width: 700px;" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





{% endblock %}

